h1 {
    color: black;
    font-size: xx-large;
    font-family: Arial;

}

h2 {
    color: black;
    font-size: x-large;
    font-family: "Arial Nova Cond";
}

p1 {
    font-family: "Arial Rounded MT Bold";
font-size: larger;
}

p2 { font-size: medium;
    font-family: "Arial Nova Cond";
}