h1{ font-size: xx-large;
    font-family: "Arial Nova Cond";
    color: lightseagreen;
}

p{color: azure;
    font-size: larger;
}
body{
    /*background-color: burlywood;*/
    background-image: url("http://miriadna.com/desctopwalls/images/max/Perfect-reflected.jpg");
}

li{
    color: azure;
    font-family: "Arial Nova Cond";
    font-size: large;
}